<div class="central-meta">
    <div class="messages">
        <h5 class="f-title"><i class="ti-bell"></i>All Messages <span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
        <div class="message-box">
            <ul class="peoples">
                <% users.forEach(function(user){ %>

                    <li class="user" data-user-id='<%= user.id %>' data-user-online = '<%= user.online %>' data-user-fullname='<%= user.fullname %>'>
                    
                        <figure>
                            <img src="/images/resources/friend-avatar.jpg" alt="">
                            <% if (user.online) { %>
                                <span class="status f-online"></span>
                            <% } else  { %>
                                <span class="status off-online"></span>
                            <% } %>
                        </figure>
                        <div class="people-name">
                            <span><%= user.username %></span>
                        </div>
                    </li>

                <% }) %>
                
               
            </ul>
            <div class="peoples-mesg-box">
                <div class="conversation-head">
                    <figure><img src="/images/resources/friend-avatar.jpg" alt=""></figure>
                    <span id="header-fullname"></span>
                </div>
                <ul class="chatting-area">
                   
                </ul>
                <div class="message-text-container">
                    <form method="post" id="new_msg_form">
                        <input type="hidden" id="to_user_id">
                        <textarea id="new-msg-box" disabled></textarea>
                        <button title="send" id="btn-new-msg-box"><i class="fa fa-paper-plane"></i></button>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>	


<script>


    jQuery(document).ready(function($) {

        var new_msg_box = $('#new-msg-box')
        var btn_new_msg_box = $('#btn-new-msg-box')
        var header_fullname = $('#header-fullname')


        $(".user").click(function(e){
            var user_id = $(this).attr('data-user-id')
            var online = $(this).attr('data-user-online')
            var fullname = $(this).attr('data-user-fullname')

            $.ajax({
                type: 'get',
                url: '/profile/conversation_list/'+ user_id,
                success: function(response){
                    let conv_list_html = ''
                    let conv_mod = ''
                    response = JSON.parse(response)
                    $.each(response.data, function( index, item ) {
                        conv_mod = 'you'
                        $('.chatting-area').html("")
                        if(item.from_user_id == response.cu){
                            conv_mod = 'me'
                        }

                        conv_list_html += '<li class="'+ conv_mod +'">'+
                                                '<figure><img src="/images/resources/userlist-1.jpg" alt=""></figure>'+
                                                '<p>'+ item.message +'</p>'+
                                            '</li>'
                    });
                    insertToChatingArea(conv_list_html)
                    header_fullname.html(fullname)
                    $('#to_user_id').val(user_id)
                }
		    })

            
            if(online == 'true'){
                new_msg_box.removeAttr('disabled');
                btn_new_msg_box.removeAttr('disabled');
            }else{
                new_msg_box.attr('disabled', 'disabled');
                btn_new_msg_box.attr('disabled', 'disabled');
            }

        })


        var socket = io();
    


        socket.on('message', function(data){
            if($('#to_user_id').val() == data.from_user_id){
                
                let new_messagee_content = '<li class="you">'+
                '<figure><img src="/images/resources/userlist-1.jpg" alt=""></figure>'+
                '<p>'+ data.message +'</p>'+
                '</li>'

                insertToChatingArea(new_messagee_content)
            }
        })

        new_msg_box.keypress(function(e) {
            if (e.which == 13) {
                $('#new_msg_form').submit();
                return false;
            }
        });

        $('#new_msg_form').submit(function(e){
            e.preventDefault()

            if(new_msg_box.val()){
                let new_messagee_content = '<li class="me">'+
                '<figure><img src="/images/resources/userlist-1.jpg" alt=""></figure>'+
                '<p>'+ new_msg_box.val() +'</p>'+
                '</li>'

                insertToChatingArea(new_messagee_content)
                

                socket.emit('new_message', {
                    to_user_id: $('#to_user_id').val(),
                    message: new_msg_box.val()
                })

                new_msg_box.val('')
            }
            
        })
        
        function insertToChatingArea(content){
            $('.chatting-area').append(content)
            $(".chatting-area").animate({ scrollTop: $(".chatting-area")[0].scrollHeight}, 100);
        }
        
    })
</script>